.expended-main-container {
    border: 1px solid #E4E4E4;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    height: max-content;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    margin-top: 25px;
    padding: 10px;
    background-color: white;
    margin-bottom: 10%;
    transition: all 0.3s ease-in-out;
}

input {
    outline: none;
    border: none;
    width: 90%;
}

.expended-title {
    margin-bottom: 5px;
}

.title {
    font-size: 18px;
    color: #5F6368;
    padding-top: 10px;
}

.expended-note {
    height: auto;
}

.note {
    font-size: 15px;
    border: 0;
    width: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
    outline: 0;
}

.expended-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.options-left {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.options-right {
    padding-right: 25px;
}

.options-right p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.expended-icons {
    color: #5F6368;
    width: 20px;
    height: 20px;
}


@media (max-width: 768px) {
    .expended-main-container {
        width: 80%;
    }
}


@media (max-width: 480px) {
    .expended-main-container {
        width: 100%;
        padding: 8px;
        margin-top: 15px;
        margin-bottom: 5%;
    }

    .title {
        font-size: 16px;
    }

    .note {
        font-size: 14px;
    }

    .expended-options {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .options-left {
        width: 100%;
        justify-content: space-around;
    }

    .options-right {
        padding-right: 0;
        text-align: center;
        width: 100%;
    }

    .expended-icons {
        width: 18px;
        height: 18px;
    }
}
